# Node.js / JavaScript
node_modules
npm-debug.log
.pnpm
dist
build

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Configs locais
.env
.env.local
.env.*
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
test-results
*.log
